[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
ollama = "*"
llama-index = "*"
llama-index-llms-ollama = "*"
llama-index-embeddings-huggingface = "*"
pycryptodome = "*"
nbconvert = "*"
pyexiftool = "*"
numba = "*"

[dev-packages]

[requires]
python_version = "3.10"
